<%- include("partials/header") %>
<h1 class="fontSize" id="mainMessage">
  The <br />
  <span class="fontSize">RGB</span>
  <br />
  Color Game
</h1>
<p>
  This game constructs a random color from the combination of the Red, Green and
  Blue colors. Can <strong>you</strong> guess the right one?
</p>
<div id="playGameButton">
  <a href="/game"><button class="fontSize">Play Game</button></a>
</div>

<%- include("partials/footer") %>
